.interna_contato{
  background: url("../img/bg-contato.jpg") no-repeat center;
  background-size: cover;
}


.contato{
padding: 40px 0;
}

.contato_form{
  padding-right: 60px;
}

.contato_form label{
  display: block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}

.contato_form input{
  display: block ;
  width: 100%;
  border: 4px solid #fec63e;
  background: none;
  padding: 7px 0;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.contato_form textarea{
  display: block ;
  width: 100%;
  height: 120px;
  border: 4px solid #fec63e;
  background: none;
  padding: 7px 0;
  outline: none;
  font-size: 14px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.contato_form button{
  background: none;
  padding: 7px 40px;
  margin-bottom: 15px;
}

.contato_dados h3{
  font-size: 18px;
  text-transform: uppercase;
  color: #fec63e;
  font-weight: bold;
}

.contato_dados p{
  display: block;
  font-size: 18px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 30px;
}

.dados_email{
  margin-bottom: 40px;
}
.contato_dados ul{
  padding-right: 60px;
}

.contato_dados ul li{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  padding: 10px 15px;
}


.contato_dados p {
  margin: 8px 8px;
}

.contato_dados ul li{
  display: inline-block;
  margin-right: 10px;
}

.contato_dados ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.contato_dados ul{
  margin-top: 10px;
}

.contato_dados ul li a:hover {
  border-color: #000;
}

.contato_dados span:nth-of-type(1){
  margin-bottom: 30px;
}

.contato_mapa{
  margin-bottom: 60px;
}