/*Estilo para tablets*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
	/* Qualidade HOME */
	.qualidade::after{
		right: 66px;
	}

	.qualidade_lista li {
		padding: 0 10px;
		overflow: auto;
	}

	/* Footer */
	.footer_redes ul li a {
		padding: 6px;
	}
	.footer_redes ul li a img{
		width: 26px;
		height: 26px;
	}

	/* Produtos */
.produto_item h2{
	top: 150px;
}

.produto_icone{
	padding: 41px 0;
}

.produto_info p {
	padding: 20px 30px;
	height: 122px;
	font-size: 14px;
	line-height: 20px;
}

.produto_info ul li{
	width: 181px;
	height: 49px;
}

}

/*Estilo para smartphone*/
@media only screen and (max-width: 787px) {

/*Header*/
.header {
	position: relative;
	padding-bottom: 0px;
}

.header img {
	margin: 0 auto 10px auto;
}

.header_menu {
	text-align: center;
}

.header_menu ul li {
	margin: 5px;
}

.active{
	border-color: #fff;
}

.header_menu ul li a {
	border: 4px solid #000;
	width: 136px;
	display: block;
	float: left;
}

.header_menu ul li a:hover {
	border-color: #fff;
}

.header_menu ul li a.active{
	border-color: #fff;
}

/*Introducao*/

.introducao {
	margin-top: 0px;
	padding-top: 20px;
	background: url("../img/bg-mobile.jpg") no-repeat center;
	background-size: cover;
}

/* Introdução interna */
.introducao_interna{
	margin-top: 0;	
}

/* Sobre */
.missao_sobre p {
	font-size: 14px;
	line-height: 20px;
	padding-right: 0px;
}

.missao_sobre ul li{
	font-size: 14px;
	line-height: 25px;
	padding-right: 0px;
}


.call{
	padding-top: 10px;
}

.qualidade::after{
	display: none;
}

/* Produtos */
.produto_item h2{
	top: -100px;
	margin-bottom: -68px;
}

.produto_icone{
	padding: 41px 0;
}

.produto_info p {
	padding: 20px 30px;
	height: auto;
	font-size: 14px;
	line-height: 20px;
}

.produto_info ul li{
	width: 149px;
	height: 49px;
	font-size: 14px;
	line-height: 20px;
}

.form{
	padding-right: 0;
}

.orcamento_dados ul{
	padding: 0;
}

.contato_form{
	padding-right: 0;
	margin-bottom: 40px;
}

.contato_dados ul{
	padding: 0;
}

.contato_dados ul li{
	padding: 0;
}
}